<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>인사정보체계</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
<body >
    <h1>인사 정보 체계</h1>
    <form class="team_name" action="/find_team" method="get">
        <input type="text" name="team" placeholder="팀명"/>
        <button type="submit">검색</button>
    </form>
    <p>예시)  팀명: 세나1팀 넣은후 검색 </p>

    <table border = "1", id="table">
        <thead>
          <tr>
            <th width="200px">팀명</th>       <!-- 얘는 다 고쳐야됨 -->
            <th width="250px">이름</th>
            <th width="250px">전화번호</th>
          </tr>
        </thead>
        {% for obj in data_list%}
        <tbody>
          <c:forEach var="article" items="${articles}" varStatus="status">
            <tr>
              <td width="200px">{{obj.team}}</td>
              <td width="200px">{{obj.name}}</td>
              <td width="200px">{{obj.phone_number}}</td>
            <tr>
          </c:forEach>
        </tbody>
        {% endfor %}
      </table>



</body>

</html>